<section class="wraping">
	
	<h1>Osorno: Ciudad Parque</h1>
	<div class="video-responsive">
	<iframe src="https://www.youtube.com/embed/MmY5nYnDfzQ" frameborder="0" allowfullscreen>
	</iframe>
	</div>

	<section class="parques">
		<h2> Osorno ciudad verde</h2>
		<!-- imagen de esculturas pleitoscenicas con scroll-->
		<img class="fuerte-modal" src="{{site.baseurl}}/assets/img/arte-cultura/parques/chuyacaesculturas.jpg">
		<p class="parque-descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</section>
	<section class="areas-verdes">
		<div class="parque-chuyaca">
			<h2> Parque Chuyaca</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
		<div class="lightbox-parque">	
			<!--slide con muchas fotos de los parques mas emblemáticos de Osorno-->
		</div>
		<div class="parque-cuarto-centenario">
			<h2> Parque Cuarto Centenario</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
	</section>	
</section>