<section class="wraping">
	<h1>Arte y Cultura</h1>
	<p class="intro-cultura">Con una diversidad cultural influenciada desde aborigenes hulliches hasta colonos Alemanes. Osorno presenta un enorme vagaje cultural.</p>
	<section class="huilliches">
	<!--Hacer un parallax con imagen titulo centrado y parrafo-->	
	<h2>Cultura Huilliche</h2>
	<img src="{{site.baseurl}}/assets/img/arte-cultura/huilliches.jpg" alt="Huilliches">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.

</div>	