<header>
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-to">
					<span class="sr-only">Desplegar/ Ocultar Menú</span><!-- Para dispositivos de lectura-->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="" class="navbar-brand">TurismOsorno</a>
			</div>
			<!--Inicia Menu -->
			<div class="collapse navbar-collapse" id="navegacion-to">
				<ul class= "nav navbar-nav">
					<li class="active"><a href="{{site.baseurl}}/home.html">Inicio</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Que hacer <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{site.baseurl}}/quehacer/artecultura.html">Arte y Cultura</a></li>
							<li><a href="#">Areas Verdes y Recreación</a></li>
							<li><a href="#">Turismo Rural</a></li>
							<li><a href="#">Eventos</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Donde Ir <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Osorno</a></li>
							<li><a href="#">San Juan de la Costa</a></li>
							<li><a href="#">Puerto Octay</a></li>
							<li><a href="#">Rio Negro y Purranque</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Vida Nocturna <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
						<li><a href="#">Pubs Y Discos</a></li>
						<li><a href="#">Casino Sol</a></li>
						<li><a href="#">Festivales y Eventos</a></li>
						<li><a href="#">Comida Típica</a></li>
						<li><a href="#">Restaurantes</a></li>
						</ul>	
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Servicios <span class="caret"></span>	
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Como Llegar</a></li>
							<li><a href="#">Medios de Transporte</a></li>
							<li><a href="#">Mall portal Osorno</a></li>
							<li><a href="#">Complejo Sonesta</a></li>
							<li><a href="#">Termas de Puyehue</a>
							<li><a href="#">Hoteles</a></li>
						</ul>
					</li>
				</ul>

				<form action="" class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="buscar">
					</div>
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-search">
					</button>
				</form>	
			</div>

		</div>	
	</nav>
</header>
