%headingTwo{
	font-family: Roboto;
	font-size: 2.5rem;
	font-weight: 700;
}

%headingThree{
	font-family: Roboto;
	font-size:1.5rem;
	font-weight: 800;
}

%paragraph{
	font-family: Lato;
	font-size: 1.5rem;
	font-weight: 300
}